body{
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --main-color :  #078177;
    --header-color : #3F424D;
    --border-color : #9e9e9e30;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* small screen*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screen*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screen*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.padding-sec{
    padding: 40px 0 ;
}


.normal-btn{
    padding: 5px 10px ;
    background-color: #fff;
    font-size: 15px;
    border: 2px solid var(--border-color);
    transition: 0.3s;
    cursor: pointer;
}
.normal-btn:hover{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}


/* --------------------start header --------------------*/
.header{
    background-color: #E3E6F3;
    padding: 20px 0 ; 
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 8px #9e9e9e;
    z-index: 999;
    height: 80px;
  
}
.header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 100px;
    
}
.header .logo img{
    width: 100%;
    
}

.header .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;

}



.header .nav-bar li{
    list-style: none;
    padding: 10px 20px;
   
   
}


.header .nav-bar li a{
    text-decoration: none;
    color: var(--header-color);
    font-size: 20px;
    font-weight: 700; 
    position: relative;

}
.header .nav-bar li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #078177;
    bottom: -3px;
    left: 0;
    transition: 0.3s;
    
}

.header .nav-bar li a.active,
.header .nav-bar li a:hover,
.header .nav-bar i:hover{
    color: var(--main-color);
}

.header .nav-bar li a:hover::after{
    width: 50%;
}
.header .nav-bar .shop-cart{
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    color: var(--header-color);
 
}
.header .nav-bar .shop-cart:hover{
    color: var(--main-color);
}



.header .content .mobile a i{
    color: var(--header-color);
    font-size: 25px;
}
.header .content .mobile .open-nav-bar{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    cursor: pointer;
}
.header .content .mobile .open-nav-bar span{
    width: 100%;
    height: 2px;
    background-color: var(--header-color);
    margin: 3px auto;
}



.header .content .mobile{
    display: none;
}


.header .content .nav-bar .close-nav-bar{
    font-size: 30px;
    font-weight: bold;
    display: none;
}


@media (max-width:767px) {
    .header .nav-bar{
        padding-top: 50px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 300px;
        height: 100vh;
        position: fixed;
        right: -300px;
        top: 0;
        background-color: aliceblue;
        transition: 0.5s;

    }
    .header .nav-bar.open{
        right: 0;
    }
    .header .content .mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .header .content .nav-bar .close-nav-bar{
        display: block;
        position: absolute;
        top: 10px;
        left: 20px;
        cursor: pointer;
       
    }
    .header .nav-bar .shop-cart{
        display: none;
    }
}
/*------------------ End header ----------------------*/

/*----------- start intro section ----------- */
.intro{
    background-image: url("/images/hero4.png");
    background-size: cover;
    height: calc(100vh - 80px);
    width: 100%;
    background-position: top 25% right 0;
    position: relative;
    background-repeat: no-repeat;
}
.intro .content{
    padding: 200px 0 0 40px;
}
.intro .content h3{
    margin-bottom: 20px;
}
.intro .content h2{
font-size: 40px;

}
.intro .content h1{
    margin: 0;
    color: var(--main-color);
}
.intro .content p{
    margin-top: 20px;
    color: #777;
}
.intro .content .shop-now{
    margin-top: 10px;
    border: none;
    background-image: url(/images/button.png);
    padding: 5px 37px 8px 42px;
    background-size: cover;
    background-color: transparent;

}

@media (max-width:767px) {
    .intro{   
        background-position: top 30% right 30%;   
        
    }
    .intro .content{
        padding: 200px 0 0 20px;
    }
    .intro .content h3{
        margin-bottom: 10px;
    }
    .intro .content h2{
        font-size: 20px;
    }
    .intro .content h1{
        margin: 0; 
    } 
}
/*-----------  End intro section ----------- */


/*--------------- Start Features ------------------*/
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features .feat{
    width: 150px;
    border:2px solid var(--border-color);
    padding: 10px;
    transition: 0.3s;
    

}
.features .feat:hover{
    box-shadow: 0px 0px 9px #9e9e9e59;
}
@media (max-width:992px) {
    .features{
        justify-content: space-evenly; 
    }
    .features .feat{       
        margin: 10px ;
    }
}
.features .feat img{    
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.features .feat h3{
    text-align: center;
    border: 1px solid ;
    padding: 5px 10px;
    font-size: 12px;
}
.features .feat:first-child h3{
    border-color: #89D8E1;
    background-color:#89D8E1 ;
}
.features .feat:nth-child(2) h3{
    border-color:  #E189BC;
    background-color:#E189BC ;
}
.features .feat:nth-child(3) h3{
    
    border-color: #B8DD7F;
    background-color: #B8DD7F;
}
.features .feat:nth-child(4) h3{
   
    border-color:   #8BC3E6;
    background-color: #8BC3E6;
}
.features .feat:nth-child(5) h3{
   
    border-color:   #A28FDA;
    background-color: #A28FDA;
}
.features .feat:nth-child(6) h3{
    
    border-color:  #E2A889;
    background-color: #E2A889;
}

/*--------------- End Features ------------------*/

/*------------- start product  --------------*/
.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.products h1{
    margin: 0 auto 5px;
    font-size: 40px;
}
.products p{
    margin: 0 auto 10px;
    font-size: 15px;
    color: #777;
}
.products .product-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   
}

.products .product-boxes .pro-box{
    max-width: 250px;
    border: 2px solid var(--border-color);
    border-radius: 6px;
    padding: 10px;
    margin: 20px 0;
    position: relative;
    transition: 0.3s;
}

.products .product-boxes .pro-box:hover{
    box-shadow: 0px 1px 8px #9e9e9e;
}
.products .product-boxes .pro-box img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}
.products .product-boxes .pro-box h3{
    color: #777;
    font-size: 15px;
}
.products .product-boxes .pro-box h2{
    font-size: 17px;
    margin-bottom: 5px;
    line-height: 25px;
}
.products .product-boxes .pro-box:hover h2{
    color: var(--main-color);
}
.products .product-boxes .pro-box .stars{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    
}
.products .product-boxes .pro-box .stars li i{
    color: orange;
}
.products .product-boxes .pro-box .stars li i.active{
    color: orange;
   
}
.products .product-boxes .pro-box span{
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 10px;
    
}
.products .product-boxes .pro-box i.shop-cart{
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: 0.3s;
    cursor: pointer;
}
.products .product-boxes .pro-box i.shop-cart:hover{
    background-color: var(--main-color);
}

@media (max-width:992px) {
    .products .product-boxes{
        justify-content: space-evenly;
        align-items: center;
    }
    .products .product-boxes .pro-box{
        width: 200px;
    }
}

@media (max-width:676px) {
    .products .product-boxes{

        justify-content: space-evenly;
    }
    .products .product-boxes .pro-box{
        width: 150px;
    }
    .products .product-boxes .pro-box h2{
        font-size: 14px;
        line-height: 1.3;
    }
}
/*------------- End product  --------------*/

/*------------- Start Services  --------------*/

.services{
    background-image: url("/images/banner/b1.jpg");
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;    
}
.services h2{
    color: #fff;
    font-size: 20px;
}
.services p{
color: #fff;
font-size: 30px;
font-weight: 600;
text-align: center;
}
.services p span{
    color: red;
}

@media (max-width:767px) {
    .services p{
        font-size: 20px;
        font-weight: 400;
        }
}


/*------------- End   Services  --------------*/





/*------------- start arrivals  --------------*/
.arrivals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.arrivals h1{
    margin: 0 auto 5px;
    font-size: 40px;
}
.arrivals p{
    margin: 0 auto 10px;
    font-size: 15px;
    color: #777;
}
.arrivals .product-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.arrivals .product-boxes .pro-box{
    border: 2px solid var(--border-color);
    border-radius: 6px;
    padding: 10px;
    position: relative;
    transition: 0.3s;
   
}

.arrivals .product-boxes .pro-box:hover{
    box-shadow: 0px 1px 8px #9e9e9e;
}
.arrivals .product-boxes .pro-box img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
}
.arrivals .product-boxes .pro-box h3{
    color: #777;
    font-size: 15px;
}
.arrivals .product-boxes .pro-box h2{
    font-size: 17px;
    margin-bottom: 5px;
    line-height: 25px;
}
.arrivals .product-boxes .pro-box:hover h2{
    color: var(--main-color);
}
.arrivals .product-boxes .pro-box .stars{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    
}
.arrivals .product-boxes .pro-box .stars li i{
    color: orange;
}
.arrivals .product-boxes .pro-box .stars li i.active{
    color: orange;
   
}
.arrivals .product-boxes .pro-box span{
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 10px;
    
}
.arrivals .product-boxes .pro-box i.shop-cart{
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: 0.3s;
    cursor: pointer;
}
.arrivals .product-boxes .pro-box i.shop-cart:hover{
    background-color: var(--main-color);
}


@media (max-width:676px) {
    .arrivals .product-boxes{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;

    }

    .arrivals .product-boxes .pro-box h2{
        font-size: 14px;
        line-height: 1.3;
    }
}


/*------------- End arrivals  --------------*/

/*------------- start banners  --------------*/

.banners{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.banners div{
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    color: #fff;
}
.banners .one{
    background-image: url("/images/banner/b17.jpg");
    background-repeat: no-repeat;
    
}
.banners .two{
    background-image: url("/images/banner/b18.jpg");
    background-repeat: no-repeat;
}
.banners div h3{
    font-size: 20px;
    font-weight: 200;
}
.banners div h2{

}
.banners div p{
    font-size: 15px;
    margin-bottom: 10px;
}
@media (max-width:992px) {
    .banners{
        flex-direction: column;
       
    }
    .banners div{
        width: 90%;
        margin: 0 auto;
    }
    
}
@media (max-width : 767px) {
    .banners .two,
    .banners .one{
        background-position:top ;
    }
}
/*------------- End banners  --------------*/

/* start banner two */
.banner-two{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding:0  0 30px 0;
   

}
.banner-two div{
   max-width: 30%;
   height: 20vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding: 20px;
}
.banner-two div h2{
    color: white;

}
.banner-two div p{
    color: red;
    font-size: 20px;
}
.banner-two .one{
    background-image: url("/images/banner/b16.jpg");
    background-size: cover;
    background-position: center;
}

.banner-two .two{
    background-image: url("/images/banner/b18.jpg");
    background-size: cover;
    background-position: center;
}
.banner-two .three{
    background-image: url("/images/blog/b1.jpg");
    background-size: cover;  
}

@media (max-width:767px) {
    .banner-two{
       width: 100%;
       justify-content: space-evenly;
    }
    .banner-two div{
        padding: 10px;
    }
    .banner-two div h2{
        font-size: 15px;
    }
    .banner-two div p{
        font-size: 12px;
    }
    
}

/* End banner two */

/* start newsletters */
.newsletter{
    background-image: url("/images/banner/b2.jpg");
    background-size:cover ;
    width: 100%;
    height: 20vh;
    display: flex;
}
.newsletter .main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.newsletter .main-content .content{
    color: #fff;
    width: 50%;
}
.newsletter .main-content .content h1{
    font-size: 29px;
}
.newsletter .main-content .content p{
    font-size: 15px;
    color: #777;

}
.newsletter .main-content .content p span{
    color: orange;
}
.newsletter .main-content .myform{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newsletter .main-content .myform input{
    padding: 10px;
    max-width: 300px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
   
}
.newsletter .main-content .myform input:focus{
    outline: none;
}
.newsletter .main-content .myform  button{
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    cursor: pointer;
    
}
@media (max-width:767px) {
    .newsletter .main-content{
       align-items: flex-start;
        flex-direction: column;
        width: 100%;
        
    }
    .newsletter .main-content .content{
        width: 100%;
        margin-bottom: 10px;
    }
    .newsletter .main-content .content h1{
        font-size: 20px;
    }
    .newsletter .main-content .content p{
        font-size: 13px;
    }
}


/* End newsletters */

/* start footer */

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.footer .contact-footer {
    margin-right: 20px;
}
.footer .contact-footer h2{
    font-size: 20px;
    padding: 20px 0;
}
.footer .contact-footer p{
   white-space: nowrap;
   font-size: 15px;
}


.footer .contact-footer .social{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .contact-footer .social li{
    padding-right: 10px;
  
}
.footer .contact-footer .social i{
    color: var(--header-color);
}

.footer .about-footer{
    
    margin-right:40px ;
   
}

.footer   h2{
    font-size: 20px;
    padding: 40px 0 20px 0 ;
}
.footer   .links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.footer   .links a{
    text-decoration: none;
    color: #777;
    margin-bottom: 10px;
    transition: 0.3s;

}
.footer   .links a:hover{
    color: var(--main-color);
}

.footer .account-footer{
    margin-right: 20px;
}

.footer .install p{
    color: #777;
    padding: 0 0 10px 0;

}
.footer .install div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    max-width: 100%;
}
.footer .install div img{
  border: 1px solid var(--border-color);
  margin: 0 5px 0  0;
  transition: 0.3s;
}
.footer .install div img:hover{
    border-color: var(--main-color);
}
.footer p.copy{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

@media (max-width:767px) {
    .footer{
padding: 40px 20px;
    }
    .footer .contact-footer p{
        white-space: nowrap;
        font-size: 11px;
        padding-bottom:5px ;
     }
    
    .footer .install img{
        width: 50%;
    }
}
/* End footer */


