body{
    font-family: 'Inconsolata', monospace;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* small screen*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screen*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screen*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

