.header .content .nav-bar a.active i,
.header .content .mobile a.active i{
    color: var(--main-color);
}



.cart{
    background-image: url("/images/banner/b1.jpg");
    background-size: cover;
    height: 30vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.cart h1{
    font-size: 50px;
    letter-spacing: 3px;
}
.cart p{
    font-size: 20px;
    color: rgba(245, 245, 245, 0.521)
}

.table-content table{
    width: 100%;
    position: relative;
    
}
.table-content table::before {
    position: absolute;
    content: '';
    background-color: #777;
    top: 40px;
    left: 2.5%;
    width: 95%;
    height: 1px;
}
.table-content th{
    padding: 5px 10px ;
}
.table-content td{
    text-align: center;
    padding-top: 20px;
}

.table-content tr td img{
    width: 100px;
    border-radius: 6px;
}
.table-content tr td:first-child div{
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #777;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}
.table-content tr td:first-child div:active{
    font-size:10px ;
}
.table-content tr td input{
    width: 50px;
    height: 40px;
}
.table-content tr td input:focus{
    outline: none;
}



.coupon-check{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.coupon-check .coupon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    background-color: #eee;
    width: 35%;
    
}
.coupon-check .coupon h2{

}
.coupon-check .coupon .form{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.coupon-check .coupon .form input{
    flex: 1;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
}
.coupon-check .coupon .form input:focus{
    outline: none;
}
.coupon-check .coupon .form button{
    padding: 5px 10px;
    color: #fff;
    background-color: var(--main-color);
    border:1px solid var(--main-color);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.coupon-check .cart-table{
    background-color: #ccc;
    width: 50%;

}
.coupon-check .cart-table h2{

}
.coupon-check .cart-table table{

}
.coupon-check .cart-table table tr{

}
.coupon-check .cart-table table td{

}
.coupon-check .cart-table table td span{

}
.coupon-check .cart-table button{

}


@media (max-width:767px) {
    .stayhome h1{
        font-size: 30px;
      
    }
    .stayhome p{
        font-size: 15px;
      
    }
    
}

