.stayhome{
    background-image: url("/images/banner/b1.jpg");
    background-size: cover;
    height: 30vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.stayhome h1{
    font-size: 50px;
    letter-spacing: 3px;
}
.stayhome p{
    font-size: 20px;
    color: rgba(245, 245, 245, 0.521)
}


.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
    padding-bottom: 40px;
}
.slider span{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    color: #fff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.slider span i{
    color: #fff;
}


@media (max-width:767px) {
    .stayhome h1{
        font-size: 30px;
      
    }
    .stayhome p{
        font-size: 15px;
      
    }
    
}